.noFirstLabel{
    margin-left: 10px;
}

.knowledges{
    float:left;
}

.level{
    float: left;
    margin-left: 15px;
}

.colNiveau{
    float:left;
    margin-left: 10px;
}

.lienNormal{
    margin-right: 20px;
}

.logo{
    width:50%;
    margin-top: 80px;
    margin-left: 325px;
}