#{extends 'main.html' /}
#{set title:'Formulaire collaborateur' /}

<a href="/">Retourner à l'accueil</a>
<a href="/collaborateurs">Retour à la liste des collaborateurs</a>

<form action="@{CollaborateurController.createCollaborator}" method="post">
    <fieldset>
        <legend>Votre identité</legend>

        <ul>
            <li>
                <label>Nom</label>
                <input id=nom name=prenom type=text placeholder="Prénom" required autofocus>
            </li>
        </ul>
    </fieldset>

    <!--<fieldset>-->
        <!--<legend>Adresse de livraison</legend>-->
        <!--<ul>-->
            <!--<li>-->
                <!--<label>Adresse</label>-->
                <!--<input id=adresse name=adresse rows=1 placeholder="11, rue Alfred Kastler" required>-->
            <!--</li>-->
            <!--<li>-->
                <!--<label>Code postal</label>-->
                <!--<input id=codepostal name=codePostal type=text placeholder="14280" required>-->
            <!--</li>-->
            <!--<li>-->
                <!--<label>Ville</label>-->
                <!--<input id=ville name=ville type=text placeholder="Caen" required>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</fieldset>-->
    <!--<input type="hidden" name="idCommande" value=${idCommande}>-->
    <fieldset>
        <button type=submit>Valider</button>
    </fieldset>
</form>