#{extends 'main.html' /}
#{set title:'Formulaire collaborateur' /}

<a href="/">Retourner à l'accueil</a>
<a href="/collaborateurs">Retour à la liste des collaborateurs</a>
<br/><br/>

<form action="@{CollaborateurController.createCollaborator}" method="post">
    <fieldset>
        <legend>Identité du collaborateur</legend>
            <label>Last Name</label>
            <input onkeyup='this.value=this.value.toUpperCase()' name=lastName type=text placeholder="Last Name" required autofocus>
            <label class="noFirstLabel">First Name</label>
            <input name=firstName type=text placeholder="First Name" required>
            <label class="noFirstLabel">User email</label>
            <input type="email" name="user_email" placeholder="User email" required>
    </fieldset>
    <br/>
    <fieldset>
        <legend> fonction dans l'entreprise</legend>
        <!--<p> Maintenir la touche Ctrl (windows) / Command (Mac) pour sélectionner plusieurs options</p>-->
        <select name="role" >
            <option value="administrateur">Administrateur </option>
            <option value="employé">Employé </option>
            <option value="DRH">DRH </option>
            <option value="cadre">Cadre </option>
        </select>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Dates</legend>
            <label>Start Date</label>
            <input type="date" name="startDate" placeholder="25/12/2000" required>
            <label class="noFirstLabel">End Date</label>
            <input type="date" name="endDate" placeholder="25/12/2000">
    </fieldset>
    <br/>
    <fieldset>
        <legend>Knowledges</legend>
        <div class="toggleKnowledges">

        </div>
        <input name='knowledges' id='truc' style='display:none'>
    </fieldset>
    <br/>
    <fieldset>
        <button class="validForm" type=submit>Valider</button>
    </fieldset>
</form>

#{set 'moreScripts'}
#{script 'formCollabo.js'/}
#{/set}