#{extends 'main.html' /}
#{set title:'Formulaire collaborateur' /}

<a href="/">Retourner à l'accueil</a>
<a href="/collaborateurs">Retour à la liste des collaborateurs</a>
<br/><br/>

<form action="@{CollaborateurController.createCollaborator}" method="post">
    <fieldset>
        <legend>Identité du collaborateur</legend>
            <label>Last Name</label>
            <input onkeyup='this.value=this.value.toUpperCase()' name=lastName type=text placeholder="Last Name" required autofocus>
            <label class="noFirstLabel">First Name</label>
            <input name=firstName type=text placeholder="First Name" required>
            <label class="noFirstLabel">User email</label>
            <input type="email" name="user_email" placeholder="User email" required>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Dates</legend>
            <label>Start Date</label>
            <input type="date" name="startDate" placeholder="25/12/2000" required>
            <label class="noFirstLabel">End Date</label>
            <input type="date" name="endDate" placeholder="25/12/2000">
            <input type="date" name="endDate" placeholder="25/12/2000">
    </fieldset>
    <br/>
    <fieldset>
        <legend>Knowledges</legend>
        <button type="button" class="toggleKnowledgesButton">Add</button>
        <div class="toggleKnowledges" style="display:none">
            <div class="knowledges">
                <br/>
                Anglais<br/>
                Italien
            </div>
            <div class="level">
                <div class="colNiveau">faible</div><div class="colNiveau">intermédiaire</div>
                <div class="colNiveau">fort</div><br/>
                <div>
                    <input style="margin-left: 20px;" name="ang" type="radio" value="1">
                    <input style="margin-left: 52px;" name="ang" type="radio" value="2">
                    <input style="margin-left: 45px;"name="ang" type="radio" value="3">
                </div>
                <div>
                    <input style="margin-left: 20px;" name="it" type="radio" value="1">
                    <input style="margin-left: 52px;" name="it" type="radio" value="2">
                    <input style="margin-left: 45px;"name="it" type="radio" value="3">
                </div>
            </div>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <button type=submit>Valider</button>
    </fieldset>
</form>

#{set 'moreScripts'}
#{script 'formCollabo.js'/}
#{/set}